
html, body {
    height: 100%;
    background-color: #eeeeee;
}

.wrap {
    background-color: #f9f9f9;
    padding-bottom: 20px;
}

.main {
    min-height: 100%;
}

.header_wrap{
    background-color: #ffffff;
}
.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-default .navbar-toggle {
    margin-top: 13px;
}

.navbar-brand {
    height: 60px;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    padding: 0px;
    margin: 0px;
}

.navbar-brand > img {
    height: 100%;
    padding: 5px;
    width: auto;
}

.navbar-nav > li > a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
    font-size: 14px;
    color: #273d4c;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
    color: #f9b925;
}

.navbar-nav {
    margin-left: 20px;
}

.navbar {
    margin-bottom: 0px;
    border:none;
    background: transparent;
    background: none;
}


.dropdown-menu > li > a {
    padding: 7px 20px;
}



.dropdown-menu > li > a {
    border-bottom: 1px solid #eaeaea;
}

.dropdown-menu > li > a:hover {
    border-bottom: 1px solid #f9b925;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background:none;
}

.dropdown-toggle {
    background: none;
}

.inner {
    height: 20px;
    background-color: #273d4c;
}



.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

.carousel.slide {
    margin-right: 25px;
}

#back-top {
    position: fixed;
    bottom: 45px;
    right: 10px;
    background: #F9B925;
}

.glyphicon {
    font-size: 27px;
    color: #ffffff;
}

#back-top a {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    /* background color transition */
}

#back-top span {
    width: 50px;
    height: 50px;
    display: block;
    padding-top: 10px;
    margin-top: -1px;
}

#back-top a:hover span {
    background-color: #000
}

.hFooter {
    height: 65px;
    clear: both;
}

.blog-footer {
    margin-top: -65px;
    text-align: center;
    background-color: #273d4c;
    border-top: 1px solid #e5e5e5;
    font-size: 16px;
}

.blog-footer p {
    line-height: 35px;
    color: #fff;
    font-weight: 700;
    margin: 0 auto;
}

.flex {
    padding: 0px 10px;
}

.flexslider {
    background: none;
    border: none;
    margin: 0 auto;
    margin-bottom:20px;
}

.flex-caption {
    width: 100%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background-color: #273d4c;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    line-height: 18px;
}

@media (max-width: 1000px) {

    .navbar-brand > img {
        margin-left: 5%;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

}

@media (min-width: 1000px) {

    .navbar-brand, .navbar-default .navbar-nav > li > a {
        line-height: 70px;
        height: 70px;
        padding-top: 0;
        font-size: 14px;
        color: #273d4c;
        font-weight: bold;
    }

    .dropdown .dropdown-menu {
        display: block;
        opacity: 0;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
    }

    .flexslider {
        background: none;
        border: none;
        margin-bottom:40px;
    }
}

@media (min-width: 1200px) {

    .navbar-brand, .navbar-default .navbar-nav > li > a {
        line-height: 80px;
        height: 80px;
        padding-top: 0;
        font-size: 14px;
        color: #273d4c;
        font-weight: bold;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1199px) {
 /*   .navbar-brand{
        height: 50px;
        line-height: 50px;
    }
    .navbar-nav > li > a {
        line-height: 40px;
        height: 40px;
    }
    */
}
@media (max-width: 768px) {

    .hFooter {
        height: 35px;
        clear: both;
    }

    .blog-footer {
        margin-top: -35px;
        font-size: 9px;
    }

    .blog-footer p {
        line-height: 14px;
        color: #fff;
        font-weight: 700;
        margin: 0 auto;
    }

}

